.cardWrapper {
  display: flex;
  margin: 40px 20px;
  flex-wrap: wrap;
}

.cardWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 5px rgb(212, 212, 212);
  border-radius: 20px;
  width: 20%;
  margin-left: 20px;
}

.cardImg {
  width: 100%;
  height: 250px;
  padding-top: 20px;
  border-bottom: solid 5px rgb(212, 212, 212);
  padding-bottom: 20px;
}

.cardImg img {
  width: 100%;
  height: 100%;
}

.cardTitle {
  font-size: 30px;
  width: 100%;
  font-weight: bold;
  padding-top: 20px;
  border-bottom: solid 5px rgb(212, 212, 212);
  padding-bottom: 20px;
  text-transform: capitalize;
}

.cardInfo {
  font-size: 20px;
  margin-top: 12px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.cardInfo div {
  margin-bottom: 10px;
}